* text=auto eol=lf
*.cs text eol=lf
*.md text eol=lf
*.json text eol=lf
*.asmdef text eol=lf
*.inputactions text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.meta text eol=lf
*.ps1 text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.psd binary
*.aseprite binary
*.wav binary
*.ogg binary
*.mp3 binary
*.mp4 binary
*.scenetemplate -diff
